<h1>Product#in_stock</h1>

<p>
  <%=link_to @product.name, product_url(@product)%> is back in stock.
</p>

Unsubscribe: <%= unsubscribe_url(token: params[:subscriber].generate_token_for(:unsubscribe)) %>
